#s-44bbcab2-8499-4799-962b-5105b8fc8c97 #s-google {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-44bbcab2-8499-4799-962b-5105b8fc8c97 #s-icon_user {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-44bbcab2-8499-4799-962b-5105b8fc8c97 #s-icon_mail {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-44bbcab2-8499-4799-962b-5105b8fc8c97 #s-icon_pass {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-44bbcab2-8499-4799-962b-5105b8fc8c97 #s-icon_pass_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-44bbcab2-8499-4799-962b-5105b8fc8c97 #s-info_close {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-44bbcab2-8499-4799-962b-5105b8fc8c97 #s-close {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-44bbcab2-8499-4799-962b-5105b8fc8c97 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-44bbcab2-8499-4799-962b-5105b8fc8c97 #s-Button_login {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-44bbcab2-8499-4799-962b-5105b8fc8c97 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-44bbcab2-8499-4799-962b-5105b8fc8c97 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}