#s-79c655be-8cac-4a32-8d33-99312d9f1701 #s-logo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79c655be-8cac-4a32-8d33-99312d9f1701 #s-slogan {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79c655be-8cac-4a32-8d33-99312d9f1701 #s-logo_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79c655be-8cac-4a32-8d33-99312d9f1701 #s-slogan_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79c655be-8cac-4a32-8d33-99312d9f1701 #s-logo_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79c655be-8cac-4a32-8d33-99312d9f1701 #s-slogan_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79c655be-8cac-4a32-8d33-99312d9f1701 #s-point_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79c655be-8cac-4a32-8d33-99312d9f1701 #s-point_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79c655be-8cac-4a32-8d33-99312d9f1701 #s-point_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-79c655be-8cac-4a32-8d33-99312d9f1701 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}