#s-d5f5c5fa-80ac-4d95-94ec-5dc67643f430 #s-logo {
  -ms-transform: rotate(0.0deg);
}
#s-d5f5c5fa-80ac-4d95-94ec-5dc67643f430 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d5f5c5fa-80ac-4d95-94ec-5dc67643f430 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d5f5c5fa-80ac-4d95-94ec-5dc67643f430 #s-line-grey {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-d5f5c5fa-80ac-4d95-94ec-5dc67643f430 #s-line-grey {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-d5f5c5fa-80ac-4d95-94ec-5dc67643f430 #s-line-blue {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #39AEA8;
  -ms-transform: rotate(0.0deg);
}
#s-d5f5c5fa-80ac-4d95-94ec-5dc67643f430 #s-line-blue {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #39AEA8;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-d5f5c5fa-80ac-4d95-94ec-5dc67643f430 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}